.Button-generate{
    position: absolute;
    width: 260px;
    height: 70px;
    left: 50%;
    top: 150px;
    margin-left: -130px;

    background: rgba(217, 222, 222, 0.46);
    border-radius: 10px;
    border-width: 1px;
}

.Button-text{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #000000;

}

.Button-save{
    position: absolute;
    width: 260px;
    height: 68px;
    left: 50%;
    top: 720px;
    margin-left: -130px;

    background: rgba(217, 222, 222, 0.46);
    border-radius: 10px;
    border-width: 1px;
}
