.Generator-button{
    /* click button */
    position: absolute;
    width: 267px;
    height: 78px;
    left: 586px;
    top: 199px;
}

.Generator-lockButtons{
    position: absolute;
    top: 700px;
}